{% extends 'generator/layout.html'%}

{% block  content %}

    <h1>About</h1>

    <lorem100>
    Bootstrap is a
    Bootstrap is a powerful, feature-packed frontend toolkit. Build anything—from prototype to production—in minutes.


    In this example, we import the random and string modules in Python. The generate_password function takes a length as an input parameter and creates a password by selecting random characters from the pool of lowercase letters, uppercase letters, digits, and punctuation symbols. 
    You can customize the length of the password by changing the password_length variable.
    </lorem100>

{% endblock %}

 